{% extends "index.html" %} 
        {% block home %} 
<div>
     <h1 style="text-align: center;" class="mt-3">The free online photo editor built for creators</h1>

     <p style=" font-family: 'Times New Roman', Times, serif; color:rgb(115, 124, 138)" class="mt-3 mx-auto text-center w-75 ">EliteEditor is free photo editor has every tool to bring your creative vision to life. Whether you’re a creator, solopreneur, or marketer, intuitive drag-and-drop features and advanced editing tools make photo editing a breeze. Ace your content goals, one standout image at a time</p>
</div>



<div class="card mx-auto mt-5"  style="width: 18rem; float:left;">
        <img class="card-img-top"  src="static/editor.jpg" height="200" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">reorganize</h5>
          <p class="card-text">Keep your creativity with Elite Editor.</p>
          <a href="/editor" class="btn btn-primary">reconization</a>
        </div>
      </div>


      <div class="card mx-auto mt-5 "  style="width: 18rem; float:right;">
        <img class="card-img-top" src="static/editor.jpg" height="200" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">convert</h5>
          <p class="card-text">Keep your creativity with Elite Editor.</p>
          <a href="/editor" class="btn btn-primary">convert</a>
        </div>
      </div>

      <div class="card mx-auto mt-5 "  style="width: 18rem; float:center;">
        <img class="card-img-top" src="static/editor.jpg" height="200" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Editor</h5>
          <p class="card-text">Keep your creativity with Elite Editor.</p>
          <a href="/editor" class="btn btn-primary">Editor</a>
        </div>
      </div>

        {% endblock %} 